@model SoldViewFomrModel

<div class="container">
    <h2>Confirm Order</h2>
    <hr>

    <p>Loading company: @Model.LoadingCompany, street: @Model.LoadingStreet, town: @Model.LoadingTown</p>
    <p>Loading ref: @Model.LoadingReference</p>
    <p>Load meters: @Model.LoadingMeter, weight: @Model.Weight</p>
    <p>Delivery company: @Model.DeliveryCompany, street: @Model.DeliveryStreet, town: @Model.DeliveryTown</p>
    <p>Delivery ref: @Model.DeliveryReference</p>

    <div class="row">
        <div class="col-md-6">
            <h6>Loading Date</h6>
            <div class="form-group">
                <form asp-area="Spedition" asp-action="ConfirmLoading" asp-controller="SellOrder" method="post">
                    @if (Model.LoadingDateTime == null)
                    {
                        <input type="hidden" name="token" value="@Model.OrderGuid" />
                        <label for="loadingDate">Loading Date:</label>
                        <input type="date" id="loadingDate" name="loadingDate" value="@Model.LoadingDateTime?.ToString("yyyy-MM-dd")" required>
                        <br />
                        <span asp-validation-for="LoadingDateTime" class="text-danger"></span>
                        <button type="submit" class="btn btn-primary">Confirm Loading</button>
                    }
                    else
                    {
                        <div class="form-control">@Model.LoadingDateTime?.ToString("yyyy-MM-dd")</div>
                    }
                    <br />
                </form>
            </div>
        </div>
        <div class="col-md-6">
            <h6>Delivery Date</h6>
            <div class="form-group">
                <form asp-area="Spedition" asp-action="ConfirmDelivery" asp-controller="SellOrder" method="post">
                    @if (Model.DeliveryDateTime == null)
                    {
                        <input type="hidden" name="token" value="@Model.OrderGuid" />
                        <label for="DeliveryDateTime">Delivery Date:</label>
                        <input type="date" id="DeliveryDateTime" name="deliveryDate" value="@Model.DeliveryDateTime?.ToString("yyyy-MM-dd")" required>
                        <br />
                        <span asp-validation-for="DeliveryDateTime" class="text-danger"></span>
                        <button type="submit" class="btn btn-primary">Confirm Delivery</button>
                    }
                    else
                    {
                        <div class="form-control">@Model.DeliveryDateTime?.ToString("yyyy-MM-dd")</div>
                    }
                    <br />
                </form>

            </div>
        </div>
        @if (Model.DeliveryDateTime != null)
        {
            <form asp-area="Spedition" asp-action="UploadFile" asp-controller="SellOrder" method="post" enctype="multipart/form-data">
                <input type="hidden" name="token" value="@Model.OrderGuid" />
                <label for="file">Upload POD File:</label>
                <input type="file" id="file" name="file" required accept=".pdf,.jpeg,.jpg">
                <br />
                <button type="submit" class="btn btn-primary">Upload File -  not implement </button>
            </form>
        }

    </div>
</div>
