
@model X.PagedList.IPagedList<TruckIndexViewModel>
@{
    ViewData["Title"] = "Trucks";
}

<div class="container">
    <h1>Trucks</h1>
    <div class="row">
        @foreach (var truck in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@truck.TruckPlate</h5>
                        <p class="card-text">Brand: <text class="font-weight-bold">@truck.TruckBrand</text></p>
                        <p class="card-text">Model: <text class="font-weight-bold">@truck.TruckModel</text></p>
                        <p class="card-text">Year: <text class="font-weight-bold">@truck.ProductionYear</text></p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@if (Model.Any())
{
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            <li class="page-item @(Model.HasPreviousPage ? "" : "disabled")">
                <a class="page-link" href="?page=@(Model.PageNumber - 1)" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>

            @for (int i = 1; i <= Model.PageCount; i++)
            {
                <li class="page-item @(i == Model.PageNumber ? "active" : "")">
                    <a class="page-link" href="?page=@i">@i</a>
                </li>
            }

            <li class="page-item @(Model.HasNextPage ? "" : "disabled")">
                <a class="page-link" href="?page=@(Model.PageNumber + 1)" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </nav>
}
else
{
    <h4 >No truck. Need to Add first truck</h4>
}
