@model TruckViewModel
@{
    ViewBag.Title = "Truck details for: " + Model.TruckPlate;
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

@if(Model == null)
{
    <h3>Truck with given plate was not foud.</h3>
}
else if (Model.IsActive == false)
{
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h3>This truck was added for service on date: @Model.AddedDate</h3>
                <h3>This truck was removed from service on date: @Model.RemovedDate</h3>
                <div class="text-center">
                    <a asp-controller="Truck" asp-action="FindTruck" class="btn btn-primary">Find another truck</a>
                </div>
            </div>
        </div>
    </div>
}
else 
{
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div>
                    <p><span>Year of production: </span><strong>@Model.ProductionYear</strong></p>
                    <p><span>Truck brand: </span><strong>@Model.TruckBrand</strong></p>
                    <p><span>Truck model: </span><strong>@Model.TruckModel</strong></p>
                    <p><span>Added on service: </span><strong>@Model.AddedDate</strong></p>
                    <div class="text-center">
                        @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                        {
                            <a asp-controller="Truck" asp-action="EditTruck" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
                            <a asp-controller="Truck" asp-action="DeleteTruck" asp-route-id="@Model.Id" class="btn btn-danger">Delete</a>
                        }
                           <a asp-controller="Truck" asp-action="TruckIndex" class="btn btn-primary">Back to truck list</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
